@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply font-sans;

    color-scheme: only light;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-synthesis: none;
    text-size-adjust: 100%;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

@layer utilities {
    .active-outline {
        @apply outline-none focus:ring-1 focus:ring-accent active:ring-1 active:ring-accent ui-open:ring-1 ui-open:ring-accent;
    }
}
